.sliderbg-icon {
  position: absolute;
  top: 2829px;
  left: 0;
  width: 1922px;
  height: 704px;
}
.expertise {
  position: absolute;
  top: 0;
  left: 226px;
  text-transform: capitalize;
}
.lorem-ipsum-is {
  position: absolute;
  top: 90px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 35px;
  display: inline-block;
  width: 720px;
  opacity: 0.8;
}
.expertisecontent {
  position: absolute;
  top: 2255px;
  left: 600px;
  width: 720px;
  height: 160px;
  color: var(--color-black);
}
.experisesideimg-child,
.experisesideimg-item {
  position: absolute;
  top: 87.5px;
  left: 361px;
  border-radius: var(--br-5xs);
  background: linear-gradient(125.28deg, #0ea1ef, #064bca);
  width: 181px;
  height: 181px;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.experisesideimg-item {
  top: 133px;
  left: 128px;
}
.experisesideimg-inner {
  top: 11px;
  left: 218.5px;
  background-color: var(--color-lavender);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 135px;
  height: 135px;
}
.experisesideimg-child1,
.experisesideimg-child2,
.experisesideimg-child3,
.experisesideimg-inner,
.rectangle-div {
  position: absolute;
  border-radius: var(--br-5xs);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.rectangle-div {
  top: 310.2px;
  left: 229.2px;
  background-color: var(--color-lavender);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 129px;
  height: 129px;
}
.experisesideimg-child1,
.experisesideimg-child2,
.experisesideimg-child3 {
  width: 75.3px;
  height: 75.3px;
}
.experisesideimg-child1 {
  top: 247px;
  left: 294.2px;
  background-color: var(--color-lavender);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.experisesideimg-child2,
.experisesideimg-child3 {
  top: 0;
  left: 278.2px;
  background: linear-gradient(125.28deg, #0ea1ef, #064bca);
}
.experisesideimg-child3 {
  top: 343px;
  left: 331.2px;
}
.experisesideimg,
.innovation-icon {
  position: absolute;
  top: 2109px;
  left: 82px;
  width: 489px;
  height: 492.7px;
  transition: transform 0.3s;
}
.innovation-icon {
  height: 110.05%;
  width: 110.05%;
  top: -4.22%;
  right: -5.04%;
  bottom: -5.84%;
  left: -5.02%;
  border-radius: var(--br-41xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  position: relative;
  transition: transform 0.3s;
}
.innovation-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.innovation-icon:hover {
  transform: scale(1.6);
  transition: transform 0.3s;
  content: "Additional Text";
}

.innovation-icon:hover::before {
  content: "Additional Text";
}
.innovation1 {
  position: absolute;
  top: 46.43%;
  left: 30.82%;
  line-height: 35px;
  text-transform: capitalize;
  opacity: 0.8;
}
.innovation {
  position: absolute;
  height: 54.28%;
  width: 29.77%;
  top: 22.89%;
  right: 70.23%;
  bottom: 22.83%;
  left: 0;
}
.risk-management {
  position: absolute;
  top: 46.43%;
  left: 24.43%;
  line-height: 35px;
  text-transform: capitalize;
  opacity: 0.8;
}
.data-icon,
.risk {
  position: absolute;
  height: 54.28%;
  width: 29.77%;
  top: 22.89%;
  right: 0;
  bottom: 22.83%;
  left: 70.23%;
}
.data-icon {
  height: 103.66%;
  width: 103.66%;
  top: -1.4%;
  right: -1.82%;
  bottom: -2.26%;
  left: -1.83%;
  border-radius: 80px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.data-analytics,
.lorem-ipsum-is1 {
  position: absolute;
  line-height: 35px;
  opacity: 0.8;
}
.lorem-ipsum-is1 {
  width: 100%;
  top: 44%;
  left: 0;
  display: inline-block;
}
.data-analytics {
  top: 0;
  left: 25.67%;
  font-size: var(--font-size-11xl);
  text-transform: capitalize;
}
.datananyltics {
  position: absolute;
  height: 13.56%;
  width: 56.63%;
  top: 43.18%;
  right: 21.69%;
  bottom: 43.26%;
  left: 21.68%;
}
.data,
.dataanalytics {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dataanalytics {
  width: 54.85%;
  right: 22.41%;
  left: 22.73%;
  font-size: var(--font-size-xl);
}
.carousel-child,
.innovation-parent {
  position: absolute;
  height: 91.17%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 8.83%;
  left: 0;
}
.carousel-child {
  height: 4.35%;
  width: 17.38%;
  top: 95.65%;
  right: 40.9%;
  bottom: 0;
  left: 41.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  color: #000;
}
.carousel {
  position: absolute;
  top: 2408px;
  left: 133px;
  width: 1680.3px;
  height: 1011px;
  font-size: var(--font-size-11xl);
}
.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-image {
  flex: 0 0 100%;
  margin-right: 10px;
}
.aboutusimg-child,
.aboutusimg-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background: linear-gradient(125.28deg, #0ea1ef, #064bca);
  width: 290px;
  height: 244px;
  opacity: 0.2;
}
.aboutusimg-item {
  top: 475px;
  left: 413px;
}
.aboutusimg,
.aboutusimg-inner {
  position: absolute;
  width: 703px;
  height: 719px;
}
.aboutusimg-inner {
  top: 4px;
  left: 0;
  border-radius: var(--br-xl);
  object-fit: cover;
}
.aboutusimg {
  top: 1304px;
  left: 1077px;
}
.about-us {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.blank-line {
  margin: 0;
}
.lorem-ipsum-is-container {
  position: absolute;
  top: 100px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 35px;
  display: inline-block;
  width: 815px;
  opacity: 0.8;
}
.about-us-parent,
.aboutuscontent {
  position: absolute;
  top: 0;
  left: 0;
  width: 815px;
  height: 380px;
}
.aboutuscontent {
  top: 1409px;
  left: 140px;
  text-align: left;
  color: var(--color-black);
}
.fourthwave-icon,
.secondwave-icon,
.thirdwave-icon {
  position: absolute;
  height: 5.11%;
  width: 28.59%;
  top: 29.59%;
  right: 0;
  bottom: 65.29%;
  left: 71.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.secondwave-icon,
.thirdwave-icon {
  height: 5.09%;
  width: 28.7%;
  top: 29.62%;
  right: 71.25%;
  left: 0.05%;
}
.secondwave-icon {
  height: 7.18%;
  width: 99.95%;
  top: 28.05%;
  right: 0;
  bottom: 64.77%;
}
.bgimg-icon,
.bgopacity-icon {
  position: absolute;
  top: 0;
  width: 1920px;
}
.bgimg-icon {
  left: 1px;
  height: 1014px;
  object-fit: cover;
}
.bgopacity-icon {
  left: 0;
  height: 1023px;
  opacity: 0.7;
}
.firstwave-icon,
.logo-icon {
  position: absolute;
  height: 7.18%;
  width: 99.95%;
  top: 24.47%;
  right: 0;
  bottom: 68.35%;
  left: 0.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo-icon {
  height: 2.37%;
  width: 7.76%;
  top: 0;
  right: 85.42%;
  bottom: 97.63%;
  left: 6.82%;
  object-fit: cover;
}
.line {
  position: absolute;
  top: 95.5px;
  left: -5.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1921px;
  height: 1px;
  opacity: 0.1;
}
.language-icon {
  position: absolute;
  top: 31px;
  left: 1736px;
  width: 34px;
  height: 20px;
}
.home {
  position: relative;
  font-weight: 500;
}
.arrow-icon {
  position: absolute;
  height: 26.32%;
  width: 10.71%;
  top: 42.11%;
  right: 0;
  bottom: 31.58%;
  left: 89.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.expertise1 {
  position: relative;
  width: 84px;
  height: 19px;
}
.arrow-icon1 {
  position: absolute;
  height: 26.32%;
  width: 10.23%;
  top: 42.11%;
  right: 0;
  bottom: 31.58%;
  left: 89.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.industries {
  position: relative;
  width: 88px;
  height: 19px;
}
.capital-structure {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.arrow-icon2 {
  position: absolute;
  height: 26.32%;
  width: 6.43%;
  top: 42.11%;
  right: 0;
  bottom: 31.58%;
  left: 93.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.capital {
  position: relative;
  width: 140px;
  height: 19px;
}
.navbar {
  position: absolute;
  top: 31px;
  left: 664px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 57px;
  text-align: left;
  font-size: var(--font-size-base);
}
.a-strong-strategy-container {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: 900;
}
.lorem-ipsum-is-container1 {
  position: absolute;
  top: 234px;
  left: 53px;
  font-size: var(--font-size-xl);
  line-height: 30px;
  font-weight: 600;
}
.main-text-child {
  position: absolute;
  top: 205px;
  left: 465px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 110px;
  height: 2px;
}
.main-text {
  position: absolute;
  top: 360px;
  left: 468px;
  width: 1039px;
  height: 294px;
  font-size: 80px;
}
.task {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3458px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
  font-family: var(--font-raleway);
}
